<mat-card class="container">
    <mat-card class="landing-page">
        <mat-grid-list cols="1" rowHeight="150px">
            <mat-grid-tile>
                <span class="title">Defined By Movies</span>
            </mat-grid-tile>
            <mat-grid-tile>
                Choose the movies that define you. Share them with the world.
            </mat-grid-tile>
            <mat-grid-tile>
                <a mat-stroked-button routerLink="/login">Sign In</a>
                <a mat-stroked-button routerLink="/register">Sign Up</a>
            </mat-grid-tile>
            <mat-divider [vertical]="true"></mat-divider>
            <mat-grid-tile>
                    
                </mat-grid-tile>
        </mat-grid-list>
    </mat-card>
</mat-card>